.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  min-height: 0;
  padding-block: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 940px;
  width: 100%;
  padding-inline: 10px;
  overflow: auto;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 170px;
}
