.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 6px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.name {
  flex-grow: 1;
}

.quantity {
  display: flex;
  flex-basis: 120px;
  flex-shrink: 0;
  justify-content: space-between;
}

.priceAtPurchase {
  flex-basis: 115px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}
